<?php
/**
 * Constants defined here outside of class because class constants can't be
 * the result of any operation (concatenation)
 */
define('MISO_OAUTH_TOKEN', 'enteryourtoken');
define('MISO_OAUTH_TOKEN_SECRET', 'enteryourtokensecret');
define('MISO_OAUTH_CALLBACK', 'http://localhost/Miso/examples/callback.php');